.dndflow {
  display: flex;
  flex-grow: 1;
  height: 100%;
  flex-direction: row;
}
 
.dndnode {
  height: 40px;
  padding: 8px;
  border: 2px solid var(--color-stone-400);
  font-weight: bold;
  border-radius: 6px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  /* Prevent zoom or scroll when dragging nodes on mobile */
  touch-action: none;
  background: white;
  font-size: 12px;
}
 
.dndnode:active {
  cursor: grabbing;
}
