
.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}
 
.dndflow #nodeSelect {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}
 
.dndflow #nodeSelect .description {
  margin-bottom: 10px;
}
 
.dndflow .dndnode {
  height: 40px;
  padding: 8px;
  border: 1px solid #1a192b;
  border-radius: 6px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  /* Prevent zoom or scroll when dragging nodes on mobile */
  touch-action: none;
  background: white;
  font-size: 12px;
  text-wrap: nowrap;
}
 
.dndflow .ghostnode {
  position: fixed;
  pointer-events: none;
  width: 100px;
}
 
.dndflow .dndnode:active {
  cursor: grabbing;
}
 
.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}
 
@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }
 
  .dndflow #nodeSelect {
    width: 20%;
    max-width: 250px;
  }
}

